@tailwind base;
@tailwind components;
@tailwind utilities;

.drop-shadow-strong {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* much darker */
}


:root {
  --bnb-yellow: #f0b90b;
  --terminal-bg: #141414;
  --panel: #171a1d;
  --border: #24282d;
  --muted: #a3a8ae;
  --text: #e9edf1;
}



body { background: var(--terminal-bg); color: var(--text); }

.cursor-blink { animation: blink 1s step-start infinite; }
@keyframes blink { 50% { opacity: 0; } }
